.DS_Store
*.pyc
*.pyo
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

# Python Virtual Env
bin/
include/
lib/
local/
pip-selfcheck.json
.vscode
docker-compose.yml